.menu {
    display: flex;
    background-color: #D5B0AC;
    height: 30px;
    justify-content: center;
}

.menu_vertical {
    display: none;
    flex-direction: column;
    height: 120px;
    position: relative;
}

.menu_right {
    position: absolute;
    left: 100px;
    top: 0px;
}

span {
    background-color: #D5B0AC;
    color: green;
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

span:hover {
    background-color: #9CD08F;
    color: #FFFFFF;
}

.dropdown:hover > .menu_vertical {
    display: flex;
}


